@import 'sanitize.css/sanitize';
@import 'sanitize.css/forms';
@import 'sanitize.css/assets';
@import 'sanitize.css/typography';

:root {
  line-height: 1.5;
}

article {
  padding: 0 1em;
  margin: 1em 0;
  overflow: hidden;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem #ccc;
}

table {
  border-collapse: collapse;
}

tr {
  border-top: 1px solid black;

  &:last-of-type {
    border-bottom: 1px solid black;
  }
}
