/* Variables and mixins declared here will be available in all other SCSS files */
:root {
  // Generic colors
  --light: #fff;
  --dark: #2f2f30;
  --darker: #1f1f20;
  --gray-light: #b7b7b752;
  --gray-dark: #2f2f3045;
  --blue-dark: #003d83;
  --blue-light: #aedffc;
  --red-dark: #5c1c1c;
  --red-light: #fcb7b7;
  --green-dark: #2b500f;
  --green-light: #e6ffe3;
  --yellow-dark: #5e3200;
  --yellow-light: #fff1c8;

  // Semantic colors
  --bg: var(--light);
  --text: var(--dark);
  --link: var(--blue-dark);
  --success-bg: var(--green-light);
  --success-text: var(--green-dark);
  --danger-bg: var(--red-light);
  --danger-text: var(--red-dark);
  --warning-bg: var(--yellow-light);
  --warning-text: var(--yellow-dark);
  --info-bg: var(--blue-light);
  --info-text: var(--blue-dark);
  --shadow: 0 0.25rem 0.5rem var(--gray-dark);
}
