# URLs
PUBLIC_API_URL="http://localhost:4000/graphql"
PUBLIC_API_AUTH_URL="http://localhost:4000/auth"
PUBLIC_API_WEBSOCKET_URL="ws://localhost:4000/graphql"
PUBLIC_STORAGE_URL="http://localhost:4000/storage/"
PUBLIC_USER_DUMP_URL="http://localhost:4000/dump"
PRIVATE_API_URL="http://localhost:4000/graphql"
REDIS_URL="redis://localhost:6379"
PROMETHEUS_URL="http://localhost:9090"
# School
PUBLIC_SCHOOL_UID="o"
# Notifications
PUBLIC_VAPID_KEY="BO9G7s2ya5I-tgsClQs5m618yT5uwZkuWCVY0LC1Bvg_K_RsXF6dpNtipxzmrJeXZWbkDB-NkOnR_Tp3T9sOlNg"
VAPID_PRIVATE_KEY="pud3TjuDNEf3fvkZ6JzVcKsymPdLrQTOhSeovEkERWU"
# Lydia
PUBLIC_LYDIA_API_URL="https://lydia-app.com"
LYDIA_WEBHOOK_URL="http://localhost:5173/lydia-webhook"
# Database
DATABASE_URL="postgres://postgres:dev@localhost:5432/postgres?schema=public"
# LDAP
LDAP_SCHOOL='{
        "servers": {
            "inp": {
            "url": "ldap://localhost:1389",
            "filterAttribute": "supannAliasLogin",
            "wholeEmail": false,
            "attributesMap": {
                "schoolUid": "uid",
                "schoolEmail": "mail",
                "firstName": "givenName",
                "lastName": "sn"
            }
            }
        },
        "emailDomains": {
            "etu.enseeiht.fr": "inp",
            "etu.inp-n7.fr": "inp",
            "etu.toulouse-inp.fr": "inp"
        }
    }'
LDAP_URL="ldap://localhost:389"
LDAP_BASE_DN="dc=inpt,dc=fr"
LDAP_BIND_DN="uid=churros,ou=services"
LDAP_BIND_PASSWORD="ldapdev"
# Emails
PUBLIC_SUPPORT_EMAIL="support@churros.app"
PUBLIC_CONTACT_EMAIL="contact@churros.app"
SMTP_URL="smtp://localhost:1025"
# Mailman
MAILMAN_API_URL="http://mailman-api-link"
MAILMAN_API_KEY="mailman-api-key"
# Misc
PUBLIC_FOY_GROUPS="foyer-n7"
PUBLIC_FRONTEND_ORIGIN="http://localhost:5173"
ORIGIN="http://localhost:5173"
GITLAB_PROJECT_ID="1013"
STORAGE="file:///${PWD}/packages/api/storage"
# TODO: document this environment variable
MASTER_PASSWORD_HASH=""
# TODO: document this environment variable
PAYPAL_CLIENT_SECRET=""
# TODO: document this environment variable
PUBLIC_PAYPAL_CLIENT_ID=""
PUBLIC_PAYPAL_API_BASE_URL="https://api-m.sandbox.paypal.com"
# Disable body size limit
BODY_SIZE_LIMIT="Infinity"
# TODO: document this environment variable
GOOGLE_CLIENT_SECRET=""
PUBLIC_GOOGLE_CLIENT_ID=""
PUBLIC_GOOGLE_WALLET_ISSUER_ID="3388000000022345009"
# JSON contents of issuer service account keypair from Google Cloud Console, see net7’s bitwarden vault, should be there
GOOGLE_WALLET_ISSUER_KEY=""
# Set to "true" to deactivate signups
PUBLIC_DEACTIVATE_SIGNUPS="true"
# Custom message to show when users try to hit the /register page
PUBLIC_DEACTIVATE_SIGNUPS_MESSAGE="Les inscriptions sont désactivées pour le moment. Merci de votre compréhension."
FRONTEND_ORIGIN="http://localhost:5173"
# @churros/sync
# Logs type: pretty, json, hidden
SYNC_LOGS="pretty"
# Log level:  0: silent, 1: error, 2: warn, 3: info, 4: debug
SYNC_LOG_LEVEL="3"
# Enable modules to sync. Available modules: ldap
SYNC_MODULES="ldap"

# oauth client
PUBLIC_OAUTH_ENABLED: 1
OAUTH_CLIENT_ID: y87JANYpibsGhWJorAgYO9AOPU9PtecC7WsZwDNo
OAUTH_CLIENT_SECRET: Nu3YwNO7yqGQQuTNLBqnEgMB4MCIOWz1fghLAVGUhVsAviSEjYSwxRZjoEKCMBhK7Kso8OXa7f6B0N11rpt4eW1HSGShfI0nnPnG1yUkVHRaBu0Safhln8cOLp9hb5uR
OAUTH_AUTHORIZE_URL: https://auth.inpt.fr/application/o/authorize/
OAUTH_TOKEN_URL: https://auth.inpt.fr/application/o/token/
OAUTH_USER_INFO_URL: https://auth.inpt.fr/application/o/userinfo/
OAUTH_LOGOUT_URL: https://auth.inpt.fr/application/o/churros/end-session/
OAUTH_SCOPES: openid,profile,email
OAUTH_UID_KEY: nickname
