.svelte-kit/
.yarn/
build/
node_modules/
zeus/

*.cjs
*.config.js

packages/api/src/godchildren-tree.ts
packages/api/scripts/*

packages/app/static/vendor/*.js  

# TODO find a way to include it, linting this would be nice
# svelte-kit's generated .tsconfig explicitly excludes it now, so we need to create another tsconfig just for this, apparently
packages/app/src/service-worker.ts 
