.svelte-kit/
.yarn/
build/
node_modules/
zeus/

# root .ts scripts would need a tsconfig.json at the root, idk if it would be a good idea
scripts/ 
*.cjs
*.config.js

packages/api/src/godchildren-tree.ts
packages/api/scripts/*

packages/app/static/vendor/

# TODO find a way to include it, linting this would be nice
# svelte-kit's generated .tsconfig explicitly excludes it now, so we need to create another tsconfig just for this, apparently
packages/app/src/service-worker.ts 
