[submodule "packages/app/android"]
	path = packages/app/android
	url = git@github.com:inp-net/churros-android
[submodule "packages/app/ios"]
	path = packages/app/ios
	url = git@github.com:inp-net/churros-ios
