.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Swap the comments on the following lines if you don't wish to use zero-installs
# Documentation here: https://yarnpkg.com/features/zero-installs
# !.yarn/cache
.pnp.*

.svelte-kit/
build/
coverage/
node_modules/
packages/app/static/version.json
packages/api/scripts/import-old-data.js
packages/api/scripts/import.log
packages/api/scripts/import-errors.json
packages/api/scripts/dump-ldap.json
packages/api/scripts/data.json
packages/api/scripts/dump-ldap.ldif
packages/api/scripts/ldap-dump.ldif
packages/api/scripts/ldap-types.js
packages/api/scripts/cas-data.json
