Gwen Le Bihan <gwen@net7.dev> <ewen@net7.dev>
Gwen Le Bihan <gwen@net7.dev> <hey@ewen.works> 
Gwen Le Bihan <gwen@net7.dev> <lebihae@bde.enseeiht.fr> 
Gwen Le Bihan <gwen@net7.dev> <ewen@voyager>
Hugo SIMON <hugo@net7.dev> <hugo.simon@etu.inp-n7.fr>
Hugo SIMON <hugo@net7.dev> <hugo202002@gmail.com>
Hugo SIMON <hugo@net7.dev> <simonh@bde.enseeiht.fr>