.svelte-kit/
.yarn/
build/
build-static/
build-node/
node_modules/
packages/api/scripts/*.json
packages/api/storage/
packages/app/src/zeus/
packages/app/$houdini/
.venv/
*.mjml
packages/db/
!packages/db/**/*.prisma

packages/app/android/
packages/app/ios/
*.generated.*
