apiVersion: v1
kind: Service
metadata:
  name: churros-api
spec:
  ports:
    - name: churros-graphql
      port: 4000
      protocol: TCP
      targetPort: 4000
    - name: churros-lydia-webhook
      port: 4001
      protocol: TCP
      targetPort: 4001
    - name: churros-prometheus-exporter
      port: 9999
      protocol: TCP
      targetPort: 9999
  selector:
    app: churros-api
---
apiVersion: v1
kind: Service
metadata:
  name: churros-maintenance
spec:
  ports:
    - name: maintenance
      port: 4002
      protocol: TCP
      targetPort: 4002
  selector:
    app: churros-api
