@import 'sanitize.css/sanitize';
@import 'sanitize.css/assets';
@import 'sanitize.css/typography';
@import './default-theme';
@import './themes';

:root {
  line-height: 1.5;
  color: var(--text);
  background: var(--bg);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 1rem 0;
}

h1 {
  font-size: 2em;
  line-height: 1.25;
}

h2 {
  font-size: 1.5em;
  line-height: 1.25;
}

h3 {
  font-size: 1.25em;
  line-height: 1.25;
}

h4 {
  font-size: 1.125em;
}

h5 {
  font-size: 1.063em;
}

h6 {
  font-size: 1em;
}

a {
  color: var(--link);
  border-radius: var(--radius-inline);
  outline: 0 solid var(--ring);
  transition: all 80ms ease-in;

  &:focus-visible {
    outline-width: 0.25rem;
  }
}

button,
input,
select,
textarea {
  padding: 0.25em 0.5em;
  font: inherit;
  color: var(--text);
  background: var(--bg);
  border: var(--border-inline) solid var(--border);
  border-radius: var(--radius-inline);
  outline: 0 solid var(--ring);
  transition: all 80ms ease-in, width 0s, height 0s;
}

button {
  user-select: none;
  box-shadow: 0 -0.125em 0.125em #0002 inset;

  &:hover,
  &:focus {
    --text: var(--hover-text);
    --bg: var(--hover-bg);
    --border: var(--hover-border);
  }

  &:active {
    box-shadow: 0 0.125em 0.125em #0002 inset;
  }
}

input:enabled,
select:enabled,
textarea:enabled {
  box-shadow: 0 0.125em 0.125em #0001 inset;
}

button:disabled,
input:disabled,
select:disabled,
textarea:disabled {
  --text: var(--disabled-text);
  --bg: var(--disabled-bg);
  --border: var(--disabled-border);

  pointer-events: none;
}

button:focus-visible,
input:focus-visible,
select:focus-visible,
textarea:focus-visible {
  outline-width: 0.25rem;
}

.primary {
  --bg: var(--primary-bg);
  --text: var(--primary-text);
  --link: var(--primary-link);
  --border: var(--primary-border);
  --shadow: var(--primary-shadow);
  --ring: var(--primary-ring);
  --hover-bg: var(--primary-hover-bg);
  --hover-text: var(--primary-hover-text);
  --hover-border: var(--primary-hover-border);
  --disabled-bg: var(--primary-disabled-bg);
  --disabled-text: var(--primary-disabled-text);
  --disabled-border: var(--primary-disabled-border);
}

.success {
  --bg: var(--success-bg);
  --text: var(--success-text);
  --link: var(--success-link);
  --border: var(--success-border);
  --shadow: var(--success-shadow);
  --disabled-bg: var(--success-disabled-bg);
  --disabled-text: var(--success-disabled-text);
  --disabled-border: var(--success-disabled-border);
}

.danger {
  --bg: var(--danger-bg);
  --text: var(--danger-text);
  --link: var(--danger-link);
  --border: var(--danger-border);
  --shadow: var(--danger-shadow);
  --disabled-bg: var(--danger-disabled-bg);
  --disabled-text: var(--danger-disabled-text);
  --disabled-border: var(--danger-disabled-border);
}

.warning {
  --bg: var(--warning-bg);
  --text: var(--warning-text);
  --link: var(--warning-link);
  --border: var(--warning-border);
  --shadow: var(--warning-shadow);
  --disabled-bg: var(--warning-disabled-bg);
  --disabled-text: var(--warning-disabled-text);
  --disabled-border: var(--warning-disabled-border);
}

.icon {
  vertical-align: bottom;
}
