@import 'sanitize.css/sanitize';
@import 'sanitize.css/assets';
@import 'sanitize.css/typography';

* {
  max-width: 100%;
  font-family: var(--font-main);
}

:root {
  line-height: 1.5;
  color: var(--text);
  background: var(--bg);

  --font-main: 'Space Grotesk', sans-serif;
  --font-mono: 'Space Mono', monospace;
  --border-width: 2px;

  /* Title */
  --size-title: 1.6rem;
  --weight-title: 700;

  /* Field label */
  --size-field-label: 0.9rem;
  --weight-field-label: 500;

  /* Paragraph */
  --size-paragraph: 1rem;
  --weight-paragraph: 500;

  /* Details */
  --size-details: 0.85rem;
  --weight-details: 700;

  /* Big Figure */
  --size-big-figure: 2.4rem;
  --weight-big-figure: 500;

  /* Big button */
  --size-big-button: 1.1rem;
  --weight-big-button: 700;
}

.icon {
  flex-shrink: 0;
  vertical-align: bottom;

  h1 &,
  h2 &,
  h3 & {
    width: 1em;
    height: 1em;
  }
}

[hidden] {
  display: none !important;
}

html {
  color-scheme: light dark;
}

.typo-title,
h1,
h2 {
  font-size: var(--size-title);
  line-height: 0.95;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.4em;
}

.typo-field-label,
dt {
  font-size: var(--size-field-label);
  font-weight: var(--weight-field-label);
  text-transform: uppercase;
  letter-spacing: 0.15em;

  /* font-feature-settings: "ss04" 1; */
}

.typo-big-figure {
  font-size: var(--size-big-figure);
  font-weight: var(--weight-big-figure);
}

.typo-paragraph,
p {
  font-size: var(--size-paragraph);
  font-weight: var(--weight-paragraph);
}

.typo-details {
  font-size: var(--size-details);
  font-weight: var(--weight-details);
}

.typo-big-button {
  font-size: var(--size-big-button);
  font-weight: var(--weight-big-button);
}

a {
  color: unset;
  text-decoration: none;
}

dd > a:not([class^='button']),
p > a:not([class^='button']),
a.in-body {
  color: var(--primary);
  text-decoration: underline;
  text-decoration-thickness: 0.125em;
  text-underline-offset: 0.5ch;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
body {
  padding: 0;
  margin: 0;
}

[data-user-html] > {
  p {
    margin-bottom: 1em;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 1em;
    margin-bottom: 0.5em;
  }
}

ul,
ol {
  padding-left: 1em;
}

ul.nobullet {
  padding-left: 0;
  list-style: none;
}

ins {
  color: var(--success);
  text-decoration: none;
  background-color: var(--success-bg);
}

del {
  color: var(--danger);
  background-color: var(--danger-bg);
}

hr {
  width: 80%;
  max-width: 1000px;
  border: var(--border-block) solid var(--muted-bg);
  border-radius: 1000px;
}

code {
  font-family: var(--font-mono);
  font-weight: bold;
  color: currentcolor;
}

code.hljs {
  border-radius: var(--radius-block);
}

a.user-mention {
  padding: 0.25rem;
  color: var(--primary) !important;
  text-decoration: none !important;
  background-color: var(--primary-bg) !important;
  border-radius: var(--radius-inline);
}

a.user-mention:hover,
a.user-mention:focus-visible {
  color: var(--primary) !important;
  background-color: var(--primary-bg) !important;
}

.skeleton-effect-wave {
  mask-image: linear-gradient(to right, transparent 0%, black 25%, black 75%, transparent 100%);
  mask-repeat: repeat;
  mask-position: 50% top;
  mask-size: 200% 100%;
  animation: skeleton-effect-wave 1s infinite;
}

div.skeleton-effect-wave {
  background-color: var(--skeleton-ui-bg);
}

@keyframes skeleton-effect-wave {
  0% {
    mask-position: 50% top;
  }

  100% {
    mask-position: -150% top;
  }
}

button {
  font-size: 1em;
  color: currentcolor;
  appearance: none;
  background: var(--bg);
  border: none;
  box-shadow: none;
}

@media (prefers-reduced-motion) {
  ::view-transition-group(*),
  ::view-transition-old(*),
  ::view-transition-new(*) {
    animation: none !important;
  }
}
