:root,
dialog {
  &.dark,
  &.dark::backdrop {
    --bg: #{$neutral-900};
    --text: #{$neutral-200};
    --link: #{$indigo-400};
    --title: #{$neutral-100};
    --shadow: 0 0.25rem 0.5rem #{$black};
    --primary-bg: #{$blue-900};
    --primary-text: #{$slate-100};
    --primary-shadow: 0 0.25rem 0.5rem #{$black};
    --loading-bg: #{$blue-900};
    --hover-bg: #{$neutral-700};
    --hover-text: #{$neutral-200};
    --muted-bg: #{$neutral-800};
    --muted-text: #{$neutral-400};
    --muted-border: #{$neutral-700};
    --muted-link: #{$indigo-400};
    --backdrop: rgb(0 0 0 / 80%);
  }

  &.hacker,
  &.hacker::backdrop {
    --bg: black;
    --text: #37e06c;
    --border: #37e06c;
    --link: #8dedab;
    --title: #8dedab;
    --shadow: 0 0.25rem 0.5rem #{$black};
    --primary-bg: #0d6e2c;
    --primary-hover-bg: var(--text);
    --primary-hover-text: var(--primary-text);
    --primary-link: var(--link);
    --primary-text: #fff;
    --primary-shadow: 0 0.25rem 0.5rem #{$black};
    --loading-bg: #0d6e2c;
    --hover-bg: #010703;
    --hover-text: #{$neutral-200};
    --muted-bg: var(--card-bg);
    --muted-text: #c6f6d5;
    --muted-border: #0f4d23;
    --muted-link: #8dedab;
    --backdrop: rgb(0 0 0 / 80%);
    --card-bg: #03220d;
    --danger-bg: #f00;
    --danger-text: #fff;
    --danger-border: #f00;
    --logo-highlight-fill: black;
    --logo-base-fill: black;
    --logo-shadows-fill: black;
    --logo-highlight-stroke: var(--text);
    --logo-base-stroke: var(--text);
    --logo-shadows-stroke: var(--text);
    --logo-stroke-width: 20;
  }

  &.pride,
  &.pride::backdrop {
    --primary-bg: linear-gradient(
      to right,
      #{$red-200},
      #{$orange-200},
      #{$yellow-200},
      #{$green-200},
      #{$blue-200},
      #{$purple-200}
    );
    --primary-text: #{$slate-900};
    --primary-shadow: 0 0.25rem 0.5rem #{rgba($slate-400, 50%)};
    --loading-bg: linear-gradient(
      to right,
      #{$red-400},
      #{$orange-400},
      #{$yellow-400},
      #{$green-400},
      #{$blue-400},
      #{$purple-400}
    );
  }

  &.noel,
  &.noel::backdrop {
    --bg: #03001c;
    --text: #{$neutral-200};
    --link: #{$indigo-400};
    --title: #{$neutral-100};
    --shadow: 0 0.25rem 0.5rem #{$black};
    --primary-bg: #{$green-900};
    --primary-text: #{$neutral-200};
    --primary-shadow: 0 0.25rem 0.5rem #{$black};
    --loading-bg: repeating-linear-gradient(
      45deg,
      rgb(255 241 242 / 100%),
      rgb(255 241 242 / 100%) 10px,
      rgb(186 28 28 / 100%) 10px,
      rgb(186 28 28 / 100%) 20px
    );
    --hover-bg: #{$green-900}; /* #28504e */
    --hover-text: #{$neutral-200};
    --muted-bg: #{$neutral-800};
    --muted-text: #{$neutral-400};
    --muted-border: #{$neutral-700};
    --muted-link: #{$indigo-400};
    --backdrop: rgb(0 0 0 / 80%);
    --primary-ring: #{rgba($green-400, 50%)};
    --primary-hover-bg: #{$green-500};
    --primary-link: #{$green-500};
    --primary-border: #{$green-900};
    --border: #{$red-700};
    --hover-border: #{$red-500};
  }
}
