apiVersion: apps/v1
kind: Deployment
metadata:
  name: churros-redis
spec:
  template:
    spec:
      containers:
        - name: churros-redis
          image: redis/redis-stack-server:latest
          imagePullPolicy: IfNotPresent
          resources:
            limits:
              memory: '128Mi'
              cpu: '500m'
          ports:
            - containerPort: 6379
