.changesets:
  image:
    name: registry.inpt.fr/inp-net/changesets-gitlab-docker
    entrypoint: ['']
  before_script:
    - export GITLAB_TOKEN=$CHANGESETS_TOKEN
    - |
      cat << EOF > "$HOME/.npmrc"
        email=$NPM_EMAIL
        //registry.npmjs.org/:_authToken=$NPM_TOKEN
      EOF
  cache:
    paths:
      - .yarn/cache/

comment:
  extends: .changesets
  stage: changesets
  rules:
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
  script:
    - changesets-gitlab comment

renovate-changesets:
  image: node:20.18.2-alpine
  stage: changesets
  variables:
    GIT_DEPTH: 400
  before_script:
    - apk add git
    - git config --global user.name gitlab
    - git config --global user.email "git@noreply.inpt.fr"
  script:
    - sh -c 'git remote add gitlab_origin https://changesets:$CHANGESETS_TOKEN@$CI_SERVER_SHELL_SSH_HOST/$CI_PROJECT_PATH; node scripts/generate-renovate-changesets'
    - git pull gitlab_origin main
    - git push gitlab_origin HEAD:main
  rules:
    - if: '$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH'

release:
  extends: .changesets
  stage: changesets
  rules:
    - if: $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
  variables:
    INPUT_TITLE: 'chore: version packages'
    INPUT_COMMIT: 'chore: version packages'
    YARN_ENABLE_IMMUTABLE_INSTALLS: 'false'
    INPUT_VERSION: '/bin/sh scripts/update-versions.sh'
    INPUT_PUBLISH: 'changeset tag'
  script:
    - changesets-gitlab
